# Archivos y directorios generados por el entorno de desarrollo
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignorar archivos generados por Tailwind CSS
src/main/resources/static/css/tailwind.css
src/main/resources/static/css/tailwind.min.css
src/main/resources/static/css/tailwind.js

# Ignorar el directorio target/ excepto maven-wrapper.jar y los directorios dentro de src/main/ y src/test/
target/*
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
mysql/mysql.sock