<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <title>Horizontes Viajeros</title>
</head>
    <body>
        <nav th:replace = "~{/fragments/navbar :: nav}"></nav>
        <header id="encabezado">
            <div th:each="imagen : ${listaImagenes}" 
                 th:style="'background-image: url(' + ${imagen} + ')'">
            </div>
            <div th:replace = "~{/fragments/modelo :: div}"></div>
            <div class="cartel">

                <span class="titulo-cartel text-3xl text-blue-300">Elige tu aventura</span>
                <span class="texto-cartel text-sm">
                    ¡Descubre nuestras ofertas exclusivas y elige el paquete perfecto
                    para tus vacaciones! Desde pasajes de avión
                    y hotel hasta opciones adicionales para personalizar tu
                    experiencia.</span>
                <ul class="contenedor-iconos">
                    <li>
                        <i class="fas fa-plane"></i> <!-- Avión -->
                    </li>
                    <li>
                        <i class="fas fa-car-alt"></i> <!-- Coche -->
                    </li>
                    <li>
                        <i class="fas fa-hotel"></i> <!-- Hotel -->
                    </li>
                    <li>
                        <i class="fas fa-bus-alt"></i> <!-- Autobús -->
                    </li>
                    <li>
                        <i class="fas fa-train"></i> <!-- Tren -->
                    </li>
                    <li>
                        <i class="fas fa-calendar-alt"></i> <!-- Calendario -->
                    </li>
                    <li>
                        <i class="fas fa-route"></i> <!-- Ruta -->
                    </li>
                </ul>
            </div>
            <div id="frase">
                <!-- Aquí se mostrará la frase -->
            </div>
            
        </header>
        <main class="main">
            <div class="descripcion">
                <h1 class="titulo-main">
                    Nuestros Servicios
                </h1>
                <h3 class="descripcion-main">
                    En Horizontes Viajeros, estamos comprometidos a hacer que cada paso de
                    tu viaje sea memorable y sin preocupaciones. ¡Déjanos ser tu compañero
                    de viaje confiable!
                </h3>
                <h3 class="descripcion-main">
                    En Horizontes Viajeros, nos enorgullece ofrecer una amplia gama de
                    servicios diseñados para hacer que tu experiencia de viaje sea
                    inolvidable. Ya sea que estés buscando el alojamiento perfecto, la
                    libertad de explorar a tu propio ritmo, o la comodidad de reservar tus
                    medios de transporte, ¡nosotros lo tenemos cubierto! Descubre nuestros
                    servicios a continuación:
                </h3>
            </div>

            <div class="container">
                <!-- Contenedor de miniaturas -->
                <div id="thumbnails" class="thumbnails"></div>

                <!-- Imagen principal -->
                <div id="mainImage" class="main-image"></div>

                <!-- Contenido principal del servicio -->
                <div id="serviceContent" class="content">
                    <div class="contenido">
                        <h2 id="serviceName"></h2>
                        <p id="serviceDescription"></p>
                    </div>
                    <!-- Contenedor del botón + -->
                    <div id="plusButtonContainer" class="cont-fa-plus" th:style="${session.usuariosession} ? 'display: flex;' : 'display: none;'">
                        <a id="plusButton" th:href="@{'/servicio/listarPorTipo/' + ${codigo}}"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="nav">
                    <button id="prevButton" class="btn prev" >Prev</button>
                    <button id="nextButton" class="btn next">Next</button>
                </div>
            </div>

        </main>
        <div th:replace = "~{/fragments/publicidad :: div}"></div>
        <section th:replace = "~{/fragments/section :: section}"></section>

        <section id="sectionHome">
            <div class="text-center" style="padding: 1rem">
                <h2 class="titulo-main servicio-estrella">
                    &#11088; Servicios estrella &#11088;
                </h2>
                <h3 class="descripcion-main">
                    Descubre nuestros servicios estrella, cuidadosamente seleccionados para ofrecerte experiencias turísticas inigualables. Desde la comodidad de los hoteles hasta la libertad de explorar con alquiler de autos, estos son los servicios que destacan por su calidad y excelencia. Con una atención excepcional al detalle y una pasión por brindar experiencias memorables, nuestros servicios estrella están diseñados para superar tus expectativas y convertir cada viaje en una aventura inolvidable. ¡Embárcate en una experiencia única con nuestros servicios estrella y haz de tu viaje una experiencia inolvidable!
                </h3>
            </div>
            <div id="serviciosContainer">
                <!-- Aquí se agregarán dinámicamente los servicios -->
            </div>
        </section>
        <div class="contain-final">
            <h2 class="titulo-final ">
                ¿Listo para comenzar tu próxima aventura?
            </h2>
            <h3 class="texto-final">
                En Horizontes Viajeros, estamos aquí para hacer realidad tus sueños de
                viaje. Ya sea que estés planeando unas vacaciones relajantes en la
                playa, una emocionante expedición de aventura o un viaje cultural en
                una ciudad vibrante, estamos aquí para ayudarte en cada paso del
                camino. Nuestro equipo experto está listo para brindarte asistencia
                personalizada y recomendaciones cuidadosamente seleccionadas para que
                tu viaje sea único y memorable. No esperes más, ¡contáctanos hoy mismo
                y comienza a planificar la escapada de tus sueños!
            </h3>
        </div>
        <footer th:replace = "~{/fragments/footer :: footer}"></footer>
    </body>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var listaImagenes = /*[[${listaImagenes}]]*/ [];
            var listaFrases = /*[[${listaFrases}]]*/ [];
            var indice = 0;

            function cambiarImagenYFrase() {
                // Obtener elementos del DOM
                var encabezado = document.getElementById('encabezado');
                var fraseElemento = document.getElementById('frase');

                // Cambiar la imagen de fondo
                encabezado.style.backgroundImage = 'url(' + listaImagenes[indice] + ')';

                // Cambiar la frase
                fraseElemento.textContent = listaFrases[indice];

                // Incrementar el índice o volver al principio si llega al final
                indice = (indice + 1) % listaImagenes.length;
            }

            setInterval(cambiarImagenYFrase, 5000); // 5000 milisegundos = 5 segundos
            /*]]>*/
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            // Usa $(document).ready() o $(function() {}) para ejecutar código después de cargar el DOM
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var errorDiv = document.querySelector(".error");
                var exitoDiv = document.querySelector(".exito");

                if (errorDiv) {
                    setTimeout(function () {
                        errorDiv.classList.add("hidden");
                    }, 3000); // Mostrar durante 3 segundos (3000 milisegundos)
                }

                if (exitoDiv) {
                    setTimeout(function () {
                        exitoDiv.classList.add("hidden");
                    }, 3000); // Mostrar durante 3 segundos (3000 milisegundos)
                }
            });

        </script>
        <script th:inline="javascript" src="/publico/js/home.js"></script>
</html>
